<h2>J.K. Rowling: A Mestra do Mundo Mágico</h2>
<p>Joanne "Jo" Rowling, mais conhecida como J.K. Rowling, é a mente brilhante por trás da aclamada série de livros
 Harry Potter. Nascida em 31 de julho de 1965, na Inglaterra, Rowling transformou a literatura infantil e
  juvenil com suas histórias mágicas e cativantes.</p>

<h2>De uma ideia em um trem para um fenômeno mundial:</h2>
<p>A ideia para a série de Harry Potter surgiu durante uma longa viagem de trem, em 1990. Rowling, que na 
    época passava por dificuldades financeiras, começou a desenvolver a história de um jovem órfão que descobre
     ser um bruxo. Após anos de trabalho e diversas rejeições por editoras, o primeiro livro da série, Harry 
     Potter e a Pedra Filosofal, foi finalmente publicado em 1997.</p>

<h2>O sucesso estrondoso:</h2>
<p>O sucesso de Harry Potter foi meteórico. Os livros rapidamente se tornaram best-sellers internacionais, 
    conquistando leitores de todas as idades. A série completa, composta por sete volumes, vendeu mais de 500 
    milhões de cópias em todo o mundo e foi traduzida para mais de 80 idiomas.</p>

<h2>Além de Harry Potter:</h2>
<p>Após o sucesso da série Harry Potter, J.K. Rowling continuou a escrever, explorando outros gêneros 
    literários. Sob o pseudônimo de Robert Galbraith, ela publicou uma série de livros policiais, mostrando 
    sua versatilidade como escritora.</p>

<h2>Um legado duradouro:</h2>
<p>J.K. Rowling não é apenas uma escritora de sucesso, mas também uma filantropa. Ela criou a organização de 
    caridade Lumos, dedicada a ajudar crianças órfãs e vulneráveis ao redor do mundo. Seu trabalho filantrópico
     e seu impacto na literatura infantil a tornaram uma das figuras mais influentes de sua geração.</p>

<h2>Legado de Harry Potter:</h2>
<p>A saga de Harry Potter deixou um legado duradouro na cultura popular. A série inspirou uma geração de 
    leitores, impulsionou o interesse pela leitura e pela escrita, e criou um universo mágico que continua a 
    encantar fãs de todas as idades.</p>
