<h2>Sobre os livros</h2>
<h3>A Saga Mágica de Harry Potter: Um Resumo Introdutivo</h3>
<p>Harry Potter é uma série de livros de fantasia escrita por J.K. Rowling que conquistou milhões de leitores
     ao redor do mundo. A história gira em torno de um jovem órfão, Harry Potter, que descobre aos 11 anos de
      idade que é um bruxo e que seus pais foram assassinados pelo poderoso bruxo das trevas, Lord Voldemort.
    </p>

<h3>A Jornada em Hogwarts:</h3>
<p>Harry é convidado a estudar na Escola de Magia e Bruxaria de Hogwarts, onde faz amigos inseparáveis: Rony
     Weasley e Hermione Granger. Juntos, eles enfrentam desafios mágicos, mistérios e perigos que os levam a
      desvendar segredos sobre o passado de Harry e a crescente ameaça de Voldemort.</p>

<h3>O Confronto com o Mal:</h3>
<p>Ao longo da saga, Harry e seus amigos aprendem mais sobre a magia e descobrem a verdade sobre a profecia
     que o liga a Voldemort. O destino de Harry e do mundo mágico se entrelaçam, culminando em uma batalha
      épica entre o bem e o mal.</p>

<hr>

<h2>Sobre os filmes</h2>
<h3>A Magia do Cinema: Uma Imersão na Saga Harry Potter</h3>
<p>A adaptação cinematográfica da saga Harry Potter não se limitou a trazer os personagens e a história para
     as telas; ela construiu um universo cinematográfico rico e detalhado, encantando milhões de espectadores
      ao redor do mundo.</p>

<h3>Uma Produção Épica:</h3>
<p>A franquia Harry Potter foi uma das maiores empreitadas cinematográficas da história, exigindo uma produção
     complexa e meticulosa para dar vida ao mundo mágico criado por J.K. Rowling. Cada filme foi um grande
      espetáculo visual, com efeitos especiais inovadores, cenários exuberantes e figurinos impecáveis.</p>
<ul>
    <li><b>Efeitos Especiais:</b>
    <p>A série utilizou efeitos visuais de última geração para criar criaturas mágicas, feitiços e paisagens
         fantásticas, como o dragão húngaro de cauda chifruda e a Floresta Proibida.</p></li>
    <li><b>Cenários:</b>
    <p>Os cenários de Hogwarts, Beco Diagonal e outros locais mágicos foram construídos com riqueza de
         detalhes, transportando o público para um mundo completamente diferente.</p></li>
    <li><b>Figurinos:</b>
    <p>Os figurinos dos personagens, desde as vestes dos alunos de Hogwarts até as roupas dos Comensais da
         Morte, foram cuidadosamente elaborados para refletir a personalidade e o status social de cada um.
        </p></li>
</ul>

<h3>O Elenco Estelar:</h3>
<p>A escolha do elenco foi fundamental para o sucesso da franquia. Daniel Radcliffe, Rupert Grint e Emma Watson
     deram vida aos icônicos personagens de Harry, Ron e Hermione, respectivamente, e cresceram junto com seus
      personagens ao longo dos filmes. Atores veteranos como Alan Rickman, Maggie Smith e Michael Gambon
       complementaram o elenco, dando vida a personagens complexos e memoráveis.</p>

<h3>Direção:</h3>
    <p>A direção da saga foi dividida entre diferentes cineastas, cada um com sua própria visão da história. Apesar
        das diferentes abordagens, todos os diretores conseguiram capturar a essência dos livros e criar filmes
        emocionantes e visualmente deslumbrantes.</p>
    <ul>
        <li><p><b>Chris Columbus:</b> Responsável pelos dois primeiros filmes, Columbus estabeleceu o tom da franquia, com um foco
            maior na magia e na aventura.</p></li>
        <li><p><b>Alfonso Cuarón:</b> Trouxe um ar mais sombrio e realista para o terceiro filme, explorando temas mais complexos
        como a adolescência e a perda.</p></li>
        <li><p><b>Mike Newell:</b> Dirigiu o quarto filme, com um enfoque maior nas competições do Torneio 
            Tribruxo.</p></li>
        <li><p><b>David Yates:</b> Assumiu a direção dos últimos quatro filmes, dando à saga um final épico e
            emocionante.</p></li>
    </ul>
    
<h3>O Legado da Franquia:</h3>
<p>A saga Harry Potter deixou um legado duradouro na cultura pop, inspirando uma geração de fãs e influenciando
     a indústria cinematográfica. A franquia continua a encantar novas gerações de espectadores, provando que
      a magia de Hogwarts nunca perde o seu encanto.</p>