<header>
  <div class="content">
    <div class="logo">Harry Potter</div>
    <div class="nav-container">
      <div class="nav-links">
        <a routerLink="/">Página inicial</a>
        <a routerLink="/universo-hp">Universo de Harry Potter</a>
        <a routerLink="/outros-hp">Outros</a>
        <a routerLink="/sobre-autora">Sobre a Autora</a>
      </div>
    </div>
  </div>
</header>
<body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
<footer>
  <a href="https://github.com/lucasLmontes/Projeto-Angular" target="_blank" class="github-link">
    <img src="/images/logo-git.png" alt="GitHub">
  </a>

  <a href="http://granbery.edu.br" target="_blank" class="granbery-link">
   <img src="/images/logo-gb.png" alt="Granbery">
  </a>

  <div class="texto-footer">
    -- Projeto de desenvolvimento de aplicações com frameworks / Faculdade Metodista Granbery --
  </div>
</footer>