@font-face {
    font-family: 'HarryP';
    src: url('/fonts/HARRYP__.TTF') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

body {
    height: 100%;
    background-color: #333;
    background-image: url('/images/pg-inicial-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0vh 1.5vh #b115e0;
}

.logo {
    font-family: 'HarryP', serif;
    font-size: 3em;
    margin-bottom: 45px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2em;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.568);
}

ul {
    list-style-type: square;
    padding-left: 2em;
}

ul li {
    margin-bottom: 2vh;
    padding-left: 2em;
}

p {
    line-height: 1.8;
    margin-bottom: 20px;
}

footer {
    background-color: #0b0311;
    height: 40vh;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

.github-link img,
.granbery-link img {
    width: 120px;
    height: 80px;
    padding-inline: 1.5em;
}

.granbery-link img {
    height: 85px;
}

.texto-footer {
    margin-top: 7vh;
    color: #3e0f61;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
